# Byte-compiled / optimized / DLL files
__pycache__/

venv
*.pyc
deepspeed
models
finetune_models
finetuned_models
output
temp
speakers/**/*
test_batch
scripts/resemble_enhance/model_repo/
ffmpeg
processed
test
voice2voice/rvc/**/*.pth
voice2voice/rvc/**/*.index
voice2voice/openVoice/*.wav
voice2voice/openVoice/*.mp3
scripts/resemble_enhance/model_repo.zip
*.pyc
.env
*.body
/pip
/python
/tmp
*.pyc
